* {
    padding: 0px;
    margin: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: rgb(238 238 240);

}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 20px 40px;
    border-bottom: 1px solid #C6C6C7;
    background-color: white;
}

header h2 a{
    text-decoration: none;
    color: #05297A;
    font-weight: 1000;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    margin-left: 2px;
    
}

nav li a {
    text-decoration: none;
    color: #5D5F5F;
    font-weight: bold;
}

nav li a:hover {
    color: #05297A;
    border-bottom: 2px solid #05297A;
}


nav {
    margin-right: auto;
    margin-left: auto;
}

header button{
    margin-left: auto;
    height: 40px;
    width: 180px;
    border: none;
    background-color: #264191;
    border-radius: 5px;
    color : white;
    font-weight: bold;
    cursor: pointer;
}

#hero{
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
}

#hero h1{
    color: #05297A;
    font-size: 40px;
    margin-top: 40px;
}

#hero .main{
    margin-top: 20px;
    color: #5C5F60;
    font-size: 18px;
    line-height: 1.5;
}

#hero .boxes{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero .box{
    background-color: #ffffff;
    width: 330px;
    /* height: 280px; */
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    gap: 15px;
    transition: all 0.5s ease-in-out 0s;
}

#hero .box:hover{
    transform: translate(0px, -10px);
}

#hero .box .lower_tag{
    margin-top: auto;
    font-size: 14px;
    color: #5C5F60;
    line-height: 1.5;

}

#hero .box img{
    margin-bottom: auto;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}

#hero .box .statistics{
    margin-top: auto;
    margin-bottom: auto;

}

#hero .box .statistics .number{
    color: #05297A;
    font-weight: bold;
    font-size: 50px;
}

#hero .box .word{
    color: #5C5F60;
    font-weight: 600;
    font-size: 18px;
}

#hero .box .bottom_text{
    margin-top: 0px;
    padding-top: 0px;
    border: 1px dotted red;
}

#hero .box .stat3{
    color: #05297A;
}

#hero .box .stat3 .word_num{
    font-weight: 600;
    font-size: 18px;
}

#hero .box3 progress{
    width: auto;
    height: 20px;
    margin-bottom: 18px;
    margin-top: 3px;
}

#hero .box2{
    border-top:5px solid #EE9800 ;
}

#comment{
    padding: 60px 40px 50px 40px;
    background-color: #f3f5ff;
}


#comment .heading h2{
    font-size: 32px;
    color: #05297A;
    padding-bottom: 10px;
}

#comment .heading p{
    font-size: 18px;
    color: #5C5F60;
}

#comment .star img{
    width: 30px;
}

#comment .boxes{
    padding-top: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#comment .boxes .box{
    border-radius: 12px;
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 0.2s ease-in-out 0s;
}

#comment .boxes .box:hover{
    transform: scale(1.02);
}

#comment .boxes .box .comment_body{
    font-style: italic;
    font-weight: 270;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#comment .boxes .box .star{
    margin-bottom: 20px;
}

#comment .boxes .box .profile{
    
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#comment .boxes .box .profile img{
    width: 50px;
    border-radius: 30px;
}

#comment .boxes .box .name{
    font-size: 14px;
    font-weight: 600;
}

#comment .boxes .box .role{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #5C5F60;
}

#comment .boxes .box_sp{
    background-color: #05297A;
    color: white;
}

#comment .boxes .box_sp img{
    width: 50px;
    margin-right: auto;
    margin-left: auto;
}

#comment .boxes .box_sp button{
    margin-top: auto;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    color: #472A00;
    background-color: #FFB95F;
}

#comment .boxes .box_sp h3{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#comment .boxes .box_sp p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

#comment .box2{
    border-left:5px solid #05297A ;
}

#evidence{
    display: flex;
    flex-direction: row;
    background: #ffffff;
    margin: 60px 40px 60px 40px;
    border-radius: 15px;
    overflow: hidden;
}

#evidence .content{
    padding: 50px;
}

#evidence .content h2{
    font-size: 32px;
    color: #05297A;
}

#evidence .content p{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    color: #5C5F60;
}

#evidence .content img{
    width: 50px;
}

#evidence .content .bullet{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#evidence .content .bullet p{
    padding-top: 0px;
    padding-bottom: 0px;
}

#evidence .image{
    width: 1650px;
    height: 100fr;
    background-image: url("Assets/Images/dashboard image.png");
    background-size: cover;
}

footer{
    background-color: #9a9a9b2e;
    padding: 50px 40px 15px 40px;
}

footer .information{
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .information .quick{
    width: 230px;
}

footer .information p{
    width: 295px;
    line-height: 1.5;
    color: #5C5F60;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #5C5F60;
    font-size: 15px;
}

footer .information .quick .phone_no p{
    color: #05297A;
    font-weight: bold;
    font-size: 14px;
}

footer h3{
    color: #05297A;
}

footer .quick h3{
    font-weight:normal;
    font-size: 16px;
}

footer .summary h3 a{
    padding-bottom: 10px;
    color: #05297A;
    font-size: 25px;
}

#copyrights{
    border-top: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 70px;
    background-color: #9a9a9b2e;
    color: #5C5F60;
}

#copyrights small{
    margin-left: 40px;
}